body.rating

    h1
        font-weight 400
        margin-top 40px
        margin-bottom 10px

    p
        color rgba(255,255,255,0.5)
        margin-bottom 30px
        letter-spacing 1px
        line-height 25px
        font-weight 300
        font-size 14px
        
        