@import _variables

@mixin font-light
    font-family: $font_primary, sans-serif
    font-weight: 500

@mixin font
    font-family: $font_primary, sans-serif
    font-weight: 700

@mixin font-bold
    font-family: $font_secondary, sans-serif
    font-weight: 700

@mixin reset
    padding: 0
    margin: 0

@mixin full-size
    width: 100%
    height: 100%

@mixin full-center
    display: flex
    align-items: center
    justify-content: center
