.btn
    padding 10px
    border-radius 50%

    width btnDimension
    height btnDimension

    flexFullyCentered()
    
    background-color rgba(255,255,255, 0.1)

form
    display flex
    flex-wrap wrap
    justify-content space-between

    label
        width 60px
        height 70px

        input[type="radio"]

            transform scale(4.2,4.2)
            position absolute
            cursor pointer
            opacity 0

            margin-left 20px
            margin-top 20px

            &:hover+span.btn
                background-color rgba(255,255,255,0.4)
            
            &:checked+span.btn
                background-color #FF7512