input[type="submit"]
    width 100%
    cursor pointer
    padding 14px 0

    font-size 0.9em
    font-weight bold
    letter-spacing 4px

    border none
    border-radius 20px
    
    color #FFF
    background-color #FF7512

    &:hover
        color #FF7512
        background-color #FFF